:root {
  --guide-width: 1px;
}

path {
  fill: none;
}

.route {
  stroke-width: 25px;
}

.route-bg {
  stroke: white;
  stroke-width: 30px;
}

.ideal {
  stroke: red;
  stroke-width: var(--guide-width);
}

.guide {
  stroke: lime;
  stroke-width: var(--guide-width);
}
