:root {
  --bg-width: 11px;
  --fg-width: 8px;

  --red: #ED1C24;
  --yellow: #FFE800;
  --orange: #FAA618;
  --blue: #00AEEF;
  --green: #4DB848;
  --oac: #ABA682;
  --purple: purple;
}

.route {
  fill: none;
}

.route.fake {
  display: none;
}

.route.bg {
  stroke: black;
  stroke-width: var(--bg-width);
}

.route.bg.guide {
  stroke-width: 3;
}

.route.mg.guide {
  stroke: white;
  stroke-width: 2;
}

.route.mg, .route.fg {
  stroke-width: var(--fg-width);
}

.route.mg {
  stroke: var(--route-color);
}

.red, .red_limited {
  --route-color: var(--red);
}

.yellow, .yellow_limited {
  --route-color: var(--yellow);
}

.orange {
  --route-color: var(--orange);
}

.blue {
  --route-color: var(--blue);
}

.green {
  --route-color: var(--green);
}

.oac {
  --route-color: var(--oac);
}

.purple {
  --route-color: var(--purple);
}

.route.fg.red_limited {
  stroke: white;
}

.route.fg.yellow_limited {
  stroke: black;
}

.route.fg.red_limited, .route.fg.yellow_limited {
  stroke-dasharray: calc(var(--fg-width) * 0.6);
}

.stop.circle.transfer {
  stroke: black;
  stroke-width: calc(var(--bg-width) - var(--fg-width));
  fill: white;
}

.stop.circle.terminus {
  stroke: black;
  stroke-width: calc(var(--bg-width) - var(--fg-width));
  fill: var(--route-color);
}

.stop.text.terminus, .stop.text.transfer {
  font-weight: bold;
}
